@using FestivalSite.Helpers
@model IEnumerable<FestivalLibAdmin.Model.Optreden>

@foreach(var group in Model.GroupBy(optreden=>optreden.LineUp.Dag))
{
    if(group.Count()>0){
        <a class="dag" href="@Url.Action("Details","Dag",new{dag=group.Key.BeDayOfWeek()})">
            <h4>@group.Key.BeDayOfWeek()</h4>
        </a>
        @Html.Action("OptredenCardsPartial", "Home", new { optredens=group})
    }
}