@model IEnumerable<FestivalLibAdmin.Model.Optreden>

@foreach (var group in Model.GroupBy(optreden => optreden.StageID).OrderBy(groep => groep.First().Stage.StageNumber))
{
    if (group.Count() > 0)
    {
        <section>
            <h4 style="color:@group.First().Stage.RGBAColor;border-color:@group.First().Stage.RGBAColor;">
                <a class="stage" href="@Url.Action("Details","Stage",new{name=group.First().Stage.Name})">
                    <img height="20" width="30" style="height:auto;width:2em;margin-bottom:-.3em;" src="@group.First().Stage.Logo" />@group.First().Stage.Name
                </a>
            </h4>
            @Html.Action("OptredenCardsPartial", "Home", new { optredens = group })
        </section>
    }
}