<?xml version="1.0" encoding="utf-8" ?>
<data>
  <event start="10/14/2013 16:35:00"
         end="10/14/2013 18:00:00"
         title="Birth" color="Green" image="monet.png" link="http://en.wikipedia.org/wiki/Monet">
    Claude Monet, also known as Oscar-Claude Monet or Claude Oscar Monet
    was born to Adolphe and Louise-Justine Monet of 45 Rue Laffitte,
    in the 9th arrondissement of Paris.
  </event>
  <event start="10/14/2013 16:35:00"
         end="10/14/2013 18:00:00"
         isDuration="true"
         title="Joined Cavalry in Algeria">
    In June of 1861 Monet joined the First Regiment of African Light Cavalry
    in Algeria for two years of a seven-year commitment, but upon his
    contracting typhoid his aunt Madame Lecadre intervened to get him out
    of the army if he agreed to complete an art course at a university.
    It is also possible that the Dutch painter Johan Barthold Jongkind
    (whom Monet knew) may have prompted his aunt on this matter.
  </event>
</data>