@model IEnumerable<FestivalLibAdmin.Model.Band>

@{
    ViewBag.Title = "Bands";
}
<section class="breadcrumb">
    @Html.MvcSiteMap().SiteMapPath()
</section>
<h2>Bands</h2>
<section class="clearfix bands">
    @foreach (var item in Model)
{
    <div class="card" style="background-image:url('@item.Picture')">
        <a href="@Url.Action("Details",new { name = item.Name })">
            @item.Name
        </a>
    </div>
}
</section>