@model IEnumerable<FestivalLibAdmin.Model.Band>

@{
    ViewBag.Title = "Bands";
}

<h2>Bands</h2>
<section>
    @foreach (var item in Model)
    {
        @Html.ActionLink(item.Name, "Details", "Band",new { name = item.Name }, new { style = "display:block;float:left;padding:2em 2em 1em 2em; background-color:black; background-image: url('"+Html.DisplayFor(modelItem => item.Picture)+"')" })
    }
</section>