<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\..\TimeLineAttempt\Control\packages.config" />
  <repository path="..\FestivalAdministratie\packages.config" />
  <repository path="..\FestivalSite\packages.config" />
  <repository path="..\FestivalSiteMVC5\packages.config" />
</repositories>