@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
    <h2 class="error">Er gebeurde een fout. Het spijt ons zeer veel. Ter compensatie bieden we je leuke asci art aan.</h2>
<section>
    <section class="card">
        <pre>
                    ____
                  ;`    `'-._
                 / \        /\
               /`   \      |  ;
              /      \     |  |
             /        `\   |  |
            /           \_ /  |
           ;            / `\  |
          ,|_  __       \__/  |
          _\_o/_(             |_
         /`"=/\==""=="=="=="=="`\
         |   )/                 |
         \                      /
         /';=""==""==""==""==";`\
         |  /`   /~\  /~\   `\  |
         |  \  _ \o/  \o/ _  /  |
         \  ; (_)   __   (_) ;  /
         /  |\_.-""(__)""-._/|  \
        |   \       /\       /   |
       /     '.___.'__'.___.'     \
      |             \/             |
      |                            |
      \                            /
  jgs |                            |
       \                          /
        '.                      .'
          '-.__            __.-'
               '---'--'---'</pre>
    </section>
</section>
