*{
    margin:0;
    padding:0;
}
.clearfix:after{
   content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: block;
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}

.keyfont{
    font-family:'Lato';
}

html{
    font-family:Helvetica,'Segoe UI',Roboto,Verdana,sans-serif;
}

body{
    background:#eee;
}

img,object,iframe,video{
    width:100%;
    height:auto;
}

li{
    list-style:none;
}

a{
    color:#e23788;
    -webkit-transition: .4s all ease;
    -moz-transition: .4s all ease;
    -o-transition: .4s all ease;
    transition: .4s all ease;
}
a.fb{
    background:url('images/fb.svg');
    background-size:100% auto;
    width:2em;
    height:2em;
}

.card.social a.twitter{
    margin-top:-.25em;
    background:url('images/twitter.svg');
    background-size:100% auto;
    background-repeat:no-repeat;
    background-position:50%;
    width:2.5em;
    height:2.5em;
}

a:hover,a:focus{
    color:#490c2e;
}

input[type="submit"],button{
        font-size:1.2em;
        border-bottom:3px solid #b77824;
}

input,select,button{
    font-size:1.1em;
    padding:.2em;
    background:#fff;
    border:1px solid #e5962e;
    border-radius:.2em;
    color:#b77824;
}

input:hover,input:focus,button:focus,button:hover{
    background:#e5962e;
    color:#fff;
}

.content-wrapper {
    width:60em;
    max-width:100%;
    margin:0 auto;
    display:block;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
}

footer > div.card
{
    padding: 1.6em;
    margin:1em auto;
    display:block;
}

footer a, footer form {
    float:right;
    clear:right;
    margin-bottom:.3em;
}

header > a{
    background:url('images/background.jpg') no-repeat #eee;
    background-position:0 60%;
    background-size:100%;
    height:14em;
    width:100%;
    display:block;
}

header nav{
    font-family:'Lato';
    font-weight:300;
    margin: 0 auto .5em auto;
    height:100%;
    width:100%;
    background:#fff;
    border-width:0;
    border-bottom-width: 2.5px;
	border-style: solid;
	border-color: #fff;
	box-shadow: 0 20px 14px -14px rgba(0,0,0,0.2), 0 0 8px rgba(0,0,0,0.2);
        background:#490c2e;
}

header ul, nav li, nav a, .card,.optredens > div >div,input, header nav ul,button{
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
}

footer .card:focus, footer .card:hover {
    -webkit-transform: none;
    -moz-transform:none;
    -o-transform:none;
    -ms-transform:none;
    transform: none;
}

header nav ul{
    width:60em;
    max-width:100%;
    margin:0 auto;
    display:block;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
}

nav li{
    font-size:1.7em;
    width:11%;
    float:left;
}

nav li.close{
    display:none;
}
nav li:nth-child(6),nav li:nth-child(7){
    float:right;
}

nav a{
    height:100%;
    width:100%;
    text-decoration:none;
    color:#fff;
    padding:8px;
    display:block;
    text-align:center;
    text-transform:capitalize;
    border-bottom:2.5px solid #eee;
    margin-bottom:-2.5px;
}


nav a:hover, nav a:focus,nav a.selected:hover,nav a.selected:focus{
    background-color:#e5962e;
    border-bottom-color:#b77824;
    color:white;
}
nav a.selected{
    background-color:#e23788;
    border-bottom-color:#c21c6b;
}

#openNav{
    display:none;
}

h1,h2,h3,h4{
    font-family:'Lato';
    color:#490c2e;
    font-weight:300;
    margin-bottom:.45em;
}

.card > h4{
    margin-top:0;
}
h2{
    margin-top:.2em;
    font-size:4em;
    border-bottom: .05em solid #490c2e;
}

.elasticstack + h2{
    margin-top:.9em;
}
h3{
    font-size:1.7em;
    font-weight:400;
    color:#e5962e;
    margin-top:1em;
}

.card h3{
    margin-top:0;
    font-weight:300;
}

h3 > a{
    color:inherit;
}

a:focus > *, a:hover > *{
    color:inherit;
}

h4{
    font-size:1.45em;
    font-weight:400;
    margin:1em 0 .7em 0;
}

h4 > a{
    color:inherit;
}

.newsfeed section{
    font-size:1.1em;
}

.newsfeed p{
    margin-bottom:1em;
}

.card p{
    text-align:justify;
}

.newsfeed div{
    margin-top:.5em;
    font-size:0.9em; 
}

::selection
{
color:#e5962e;
}
::-moz-selection
{
color:#e5962e;
}

h2 + * p.card::first-letter, h2 + * > .card p::first-letter{
    color:#e23788;
}

.newsfeed div::first-letter{
    color:#490c2e;
}

.card{
    background:#fff;
    border-width: 2.8px;
    border-radius:2px;
	border-style: solid;
	border-color: #fff;
	box-shadow: 0 10px 7px -7px rgba(0,0,0,0.12), 0 0 4px rgba(0,0,0,0.1);
}


.card:hover,.card:focus{
    -webkit-transform: scale(1.03,1.03);
	transform: scale(1.03,1.03);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

section.optredens{
    width:100%;
}

.card.ticket form > *{
    margin: .8em 0;
}

.card.ticket input, .card.ticket select, .card.ticket .field-validation-error{
    float:right;
    width:50%;
    clear:right;
}
.card.ticket .field-validation-error{
    color:red;
}

.card.ticket div{
    display:block;
}


.card.ticket:first-child:hover,.card.ticket:first-child:focus{
    transform:none;
    -webkit-transform:none;
    -moz-transform:none;
    -o-transform:none;
    -ms-transform:none;
}

.card.ticket > a{
    display:block;
    margin-top:1em;
}

 h2 + * > .card, h3 + * > .card, section.optredens > div, section.ticket.card{
    width:48.5%;
    float:right;
    padding:24px;
    margin-bottom:1.65em;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
    font-size:1.1em;
    clear:right;
}

 h2 + * > .card:nth-child(2n+1), h3 + * > .card:nth-child(2n+1), section.optredens > div:nth-child(2n+1),section.ticket.card:nth-child(2n+1){
    float:left;
    clear:left;
}

 ul.optredens > li{
     margin-bottom:.5em;
 }

 ul.optredens > li > a{
     color:inherit;
 }

 .optredens ul.optredens > li > a:hover,.optredens .optredens > li > a:focus{
     color:#490c2e;
 }
 .optredens > div{
     webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
 }

 .bands{
     width:100%;
 }

 .bands .card{
     padding:0em;
     background-size:cover;
 }

 .bands a, .optreden.card > a{
    display:block;
    font-size:3em;
    padding:3.5em 0em 0em 0em;
    color:white;
    text-decoration:none;
    font-family:'Lato';
    font-weight:300;
    height:100%;
    overflow:hidden;
    text-align:center;
    background: rgba(0,0,0,.1);
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 65%, rgba(0,0,0,0.76) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(65%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.76)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 65%, rgba(0,0,0,0.76) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 65%, rgba(0,0,0,0.76) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 65%, rgba(0,0,0,0.76) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 65%, rgba(0,0,0,0.76) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
 }

 .bands a:hover,.bands a:focus,.optreden.card > a:focus,.optreden.card:hover > a{
     background-color:rgba(226,55,136,0.3);
 }
 h4 ~ section.optredens > div{
     padding:0;
     -webkit-perspective: 2000;
        -ms-perspective: 2000;
        -moz-perspective: 2000;
        perspective: 2000;
 }

 
 .optredens >  div{
     height:14.7em;
     padding:0;
     position:relative;
 }

 .optredens > div  .card{
          background-size:cover;
     position:absolute;
     left:0;
     top:0;
     height:100%;
     width:100%;
 }
 .optredens > div .card{
     z-index:2;
     transform:perspective(800px) rotateY(0deg);
     -webkit-transform:perspective(800px) rotateY(0deg);
     -ms-transform:perspective(800px) rotateY(0deg);
     -o-transform:perspective(800px) rotateY(0deg);
     -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
     -ms-backface-visibility: hidden;
    backface-visibility: hidden;
 } 
 .optredens > div .card + .card > a{
     padding-top:.3em;
     height:auto;
     background:none;
     color:#490c2e;
 }

 .optredens > div .card + .card > a:focus,.optredens > div .card + .card > a:hover{
     color:#e5962e;
 }
 .optredens > div .card + .card{
     transform:perspective(800px) rotateY(180deg);
     -webkit-transform:perspective(800px) rotateY(180deg);
     -ms-transform:perspective(800px) rotateY(180deg);
     -o-transform:perspective(800px) rotateY(180deg);
     -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
     -ms-backface-visibility: hidden;
    backface-visibility: hidden;
     z-index:0;
     padding:1em;
     padding-top:0;
 }

 .optredens > div:focus .card,  .optredens > div:hover .card
 {
     transform:perspective(800px) rotateY(180deg);
     -webkit-transform:perspective(800px) rotateY(180deg);
     -ms-transform:perspective(800px) rotateY(180deg);
     -o-transform:perspective(800px) rotateY(180deg);
 }

 .optredens > div:focus .card + .card,  .optredens > div:hover .card + .card
 {
     transform:perspective(800px) rotateY(360deg);
     -webkit-transform:perspective(800px) rotateY(360deg);
     -ms-transform:perspective(800px) rotateY(360deg);
     -o-transform:perspective(800px) rotateY(360deg);
 }

 .optreden.card ul {
     font-size:.7em;
     margin:1em;
     bottom:0px;
     position:absolute;
     width:auto;
 }



 .optreden.card li{
     font-size:1.2em;
 }

.breadcrumb{
    margin:1em 0;
}

.card .genres li{
    float:left;
    margin-right:1em;
}

.card .genres a{
    display:block;
    font-size:1.3em;
    padding:.5em 0 .5em 0;
}

.card.social a{
    float:left;
    height:2em;
    width:2em;
    margin-right:1em;
    overflow:hidden;
}

.card .optredens li{
    font-size:1.3em;
}

.validation-summary-errors{
    color:red;
    margin:.8em 0;
}

.card.register , .card.login, .card.loginextern{
    width:50%;
    padding:10px;
}
.card.register li , .card.login li, .card.register ol + input,.card.login ol + input{
    margin:.8em 0;
}

.card.register:focus , .card.login:focus,.card.register:hover , .card.login:hover,.card.loginextern:hover,.card.loginextern:focus{
    transform:none;
    -webkit-transform:none;
    -moz-transform:none;
    -o-transform:none;
    -ms-transform:none;
}

.types > .card > canvas + ul{
    margin-top:.5em;
}
.types > .card > canvas + ul >li.sold{
    color:#e23788;
}

.types > .card > canvas + ul >li.available{
    color:#e5962e;
}

#bandschart{
    width:90%!important;
    margin:1em auto;
    height:auto!important;
}

.bandschart.card{
    width:100%;
}
/*stack*/

*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.elasticstack {
	position: relative;
	margin: 2em auto;
	padding: 0;
	width: 100%;
	height: 38em;
	list-style: none;
	-webkit-perspective: 1000px;
	-webkit-perspective-origin: 50% 150%;
	perspective: 1000px;
	perspective-origin: 50% 150%;
    -webkit-transition: .5s width ease,
                        .5s height ease;
    -moz-transition: .5s width ease,
                        .5s height ease;
    -o-transition: .5s width ease,
                        .5s height ease;
    transition: .5s width ease,
                        .5s height ease;
    font-weight:300;
    text-transform:capitalize;
}

.no-js .elasticstack {
	max-width: 960px;
	width: 100%;
	height: auto;
	text-align: center;
}

.elasticstack li {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	border-width: 5px 5px;
	border-style: solid;
	border-color: #fff;
	box-shadow: 0 10px 7px -7px rgba(0,0,0,0.12), 0 0 4px rgba(0,0,0,0.1);
	opacity: 0;
	cursor: pointer;
	-webkit-transform: translate3d(0,0,-180px);
	transform: translate3d(0,0,-180px);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
    background-size: cover;
    background-position:top;
    background-color:#fff;
}

.elasticstack li a{
    text-decoration:none;
    width:100%;
    height:100%;
    display:block;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
}
.elasticstack li a:hover,.elasticstack li a:focus {
    background-color:rgba(226,55,136,0.3);
}

.no-js .elasticstack li {
	position: relative;
	display: inline-block;
	opacity: 1;
	margin: 10px;
	cursor: default;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.elasticstack li img {
	display: block;
}

.elasticstack li span {
	width:100%;
	padding: .2em 0 1.8em 0;
	display: block;
	height: 60px;
	font-size: 3em;
	color:white;
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.5)), color-stop(100%, rgba(0,0,0,0)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
	text-align: center;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
}
.elasticstack a:hover span,.elasticstack a:focus span{
    padding-bottom:2em;
}


.elasticstack li.animate {
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.elasticstack li.move-back {
	/* http://matthewlein.com/ceaser/ */
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.470, 1); /* older webkit */
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.470, 1.515);
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.470, 1.515);
}


/*fadein animation*/

@-webkit-keyframes fadein {
 0%   { opacity: 0; 
        -webkit-transform: scale(0.9,0.9);
	    transform: scale(0.9,0.9);
  }
  100%   {opacity:1;
         -webkit-transform: scale(1,1);
	    transform: scale(1,1);
  }
}
@-moz-keyframes fadein {
 0%   { opacity: 0; 
        -webkit-transform: scale(0.9,0.9);
	    transform: scale(0.9,0.9);
  }
  100%   {opacity:1;
         -webkit-transform: scale(1,1);
	    transform: scale(1,1);
  }
}
@-o-keyframes fadein {
 0%   { opacity: 0; 
        -webkit-transform: scale(0.9,0.9);
	    transform: scale(0.9,0.9);
  }
  100%   {opacity:1;
         -webkit-transform: scale(1,1);
	    transform: scale(1,1);
  }
}
@keyframes fadein {
 0%   { opacity: 0; 
        -webkit-transform: scale(0.9,0.9);
	    transform: scale(0.9,0.9);
  }
  100%   {opacity:1;
         -webkit-transform: scale(1,1);
	    transform: scale(1,1);
  }
}

#body > * {
  -webkit-animation: fadein 2.5s ease; /* Safari 4+ */
  -moz-animation:    fadein 2.5s ease; /* Fx 5+ */
  -o-animation:      fadein 2.5s ease; /* Opera 12+ */
  animation:         fadein 2.5s ease; /* IE 10+ */
}

@-webkit-keyframes flyin {
 0%   { 
     transform: rotate(10deg);
    -ms-transform: rotate(10deg); /* IE 9 */
    -webkit-transform: rotate(10deg); /* Safari and Chrome */
  }
  100%   {
      transform: rotate(0deg);
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari and Chrome */
  }
}
@-moz-keyframes flyin {
 0%   { 
     transform: rotate(10deg);
    -ms-transform: rotate(10deg); /* IE 9 */
    -webkit-transform: rotate(10deg); /* Safari and Chrome */
  }
  100%   {
      transform: rotate(0deg);
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari and Chrome */
  }
}
@-o-keyframes flyin {
 0%   { 
     transform: rotate(10deg);
    -ms-transform: rotate(10deg); /* IE 9 */
    -webkit-transform: rotate(10deg); /* Safari and Chrome */
  }
  100%   {
      transform: rotate(0deg);
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari and Chrome */
  }
}
@keyframes flyin {
 0%   { 
     transform: rotate(10deg);
    -ms-transform: rotate(10deg); /* IE 9 */
    -webkit-transform: rotate(10deg); /* Safari and Chrome */
  }
  100%   {
      transform: rotate(0deg);
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari and Chrome */
  }
}

#body >* > *:nth-child(2n+1) {
    /*-ms-transform-origin:0% -100%;*/ /* IE 9 */
    /*-webkit-transform-origin:0% -100%;*/ /* Safari and Chrome */
  -webkit-animation: flyin 1s ease; /* Safari 4+ */
  -moz-animation:    flyin 1s ease; /* Fx 5+ */
  -o-animation:      flyin 1s ease; /* Opera 11.5+ */
  animation:         flyin 1s ease; /* IE 10+ */
}

@-webkit-keyframes flyinreverse {
 0%   { 
     transform: rotate(-10deg);
    -ms-transform: rotate(-10deg); /* IE 9 */
    -webkit-transform: rotate(-10deg); /* Safari and Chrome */
  }
  100%   {
      transform: rotate(0deg);
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari and Chrome */
  }
}
@-moz-keyframes flyinreverse {
 0%   { 
     transform: rotate(-10deg);
    -ms-transform: rotate(-10deg); /* IE 9 */
    -webkit-transform: rotate(-10deg); /* Safari and Chrome */
  }
  100%   {
      transform: rotate(0deg);
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari and Chrome */
  }
}
@-o-keyframes flyinreverse {
 0%   { 
     transform: rotate(-10deg);
    -ms-transform: rotate(-10deg); /* IE 9 */
    -webkit-transform: rotate(-10deg); /* Safari and Chrome */
  }
  100%   {
      transform: rotate(0deg);
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari and Chrome */
  }
}
@keyframes flyinreverse {
 0%   { 
     transform: rotate(-10deg);
    -ms-transform: rotate(-10deg); /* IE 9 */
    -webkit-transform: rotate(-10deg); /* Safari and Chrome */
  }
  100%   {
      transform: rotate(0deg);
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari and Chrome */
  }
}

#body >* > *:nth-child(2n) {
    /*-ms-transform-origin:100% 200%;*/ /* IE 9 */
    /*-webkit-transform-origin:100% 200%;*/ /* Safari and Chrome */
  -webkit-animation: flyinreverse 1s ease; /* Safari 4+ */
  -moz-animation:    flyinreverse 1s ease; /* Fx 5+ */
  -o-animation:      flyinreverse 1s ease; /* Opera 11.5+ */
  animation:         flyinreverse 1s ease; /* IE 10+ */
}

@media all and (min-width:115em){
     ul.optredens{
     font-size:.8em;
 }

    .content-wrapper,header nav ul{
        width:90em;
    }

    .elasticstack,#registerForm > section,#loginForm > section{
        width:48.5%;
        float:left;
    }

    .elasticstack + h2{
        margin-top:0.2em;
        float:right;
        width:48.5%;
    }
    .elasticstack + h2 + section,#registerForm > section + section,#loginForm >section + section{
        float:right;
        width:48.5%;
    }
    .breadcrumb + h2 + section > section > h3 + h4
    {
        border:none;
    }

    .breadcrumb + h2 + section > section > h3 + h4 >a{
        text-decoration:underline;
    }
    .breadcrumb + h2 + section > section >h3,.breadcrumb + h2 + section > section >h4{
        border-bottom:3px solid #e5962e;
    }

    .breadcrumb + h2 + section > section >h3>a,.breadcrumb + h2 + section > section >h4>a{
        text-decoration:none;
    }

    .breadcrumb + h2 + section > section:nth-child(2n+1){
        float:left;
        width:48.5%;
        clear:left;
    }

    .breadcrumb + h2 + section > section:nth-child(2n){
        float:right;
        width:48.5%;
        clear:right;
    }

    .breadcrumb + h2 + section > section > section > section > div{
        font-size:.8em;
        height:15.5em;
    }
    .optreden.card ul.optredens{
        font-size:.9em;
    }

    h2 + .bands > div:nth-child(n),section > section.ticket.card:nth-child(n){
        float:left;
        margin-right:1.3333%;
        clear:none;
        width:24%;
        font-size:.9em;
        height:15.5em;
    }
    section > section.ticket.card:nth-child(n){
        font-size:1.18em;
    }

    section.bands > div{
        font-size:.9em;
        height:14.7em;
    }

    h2 + .bands > div:nth-child(4n),section > section.ticket.card:nth-child(4){
        float:right;
        margin-right:0;
    }

    .breadcrumb + article > *{
        width:48.5%;
        float:right;
    }

    .breadcrumb + article > img{
        float:left;
    }

    .breadcrumb + article > h2{
        margin-top:-.2em;
    }
    .breadcrumb + article > section > div:first-child{
        width:100%;
    }
    .breadcrumb + article > section > div{
        float:left!important;
        clear:left!important;
    }
    .breadcrumb + article > section > div:nth-child(2n+1){
        float:right!important;
        clear:right!important;
    }

    .card.register{
        width:60%;
    }
}



@media all and (max-width:63em){
    .content-wrapper{
        padding:0em 1em;
    }

    nav ul{
        padding:0em 1em;
    }

    nav li{
        width:14%;
    }
}

@media all and (max-width:55em){
     .bands a{
        font-size:2.4em;
    }
         .card.register, .card.loginextern,.card.login {
        width:100%;
    }
}

@media all and (max-width:44.5em){
    .elasticstack{
        height:25em;
    }

     h2 + * > .card,h3 + * > .card, section.optredens > div,h2+*>.ticket.card,section.ticket.card:nth-child(2n+1){
    width:100%;
    float:none;
    padding:24px;
    margin-bottom:1em;
    font-size:1.1em;
    }

    h2 + * > .card:nth-child(2n+1),h3 + * > .card:nth-child(2n+1), section.optredens > div:nth-child(2n+1){
    float:none;
    }
    .bands .card{
        height:15em;
    }
     .bands a{
    font-size:3em;
    padding-top:3.8em;
    }
    header nav ul{
        position:fixed;
        z-index:5;
        background:#490c2e;
        top:-50em;
    }

    header nav ul.boom{
        top:0em;
    }
    header nav ul > *{
        float:none;
        clear:none;
        margin:.5em auto;
        width:auto;
        border:none;
        background:#fff;
        color:#490c2e;
    }
    nav a.selected{
        color:#fff;
    }
    nav li:nth-child(6),nav li:nth-child(7){
    width:auto;
            float:none;
    }

    nav li:nth-child(6){
        margin-top:1.2em;
        
    }

    header nav ul a{
    color:inherit;
    }
    nav li.close{
        display:block;
        cursor:pointer;
        width:2em;
        margin:0;
    }

    nav ul{
        border-bottom:3px solid #fff;
    }

    nav li.close a{
        width:2em;
        height:2em;
        text-align:center;
        padding:8px;
        padding-top:10px;
        font-weight:900;
    }

    #openNav{
        font-size:1.65em;
        display:block;
        width:2em;
        height:2em;
        padding:8px;
        margin-left:.65em;
        border-width:0;
        border-radius:0;
        margin-bottom:-2px;
        border-bottom-width:2px;
        border-color:#fff;
        background:url('Images/icon-menu.svg') no-repeat center;
        background-size:60% 60%;
        color:#fff;
    }

    #openNav:hover,#openNav:focus{
        border-color:#b77824;
        background-color:#e5962e;
    }
}

@media all and (max-width:30em) {
    .bands a{
    font-size:2.5em;
    padding-top:4.5em;
    }

    .optredens div{
        font-size:.9em;
    }
}