<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DefaultConnection"
            connectionString="Data Source=tcp:gra6pit8lq.database.windows.net,1433;Initial Catalog=Festival;User ID=FestivalAdmin@gra6pit8lq;Password=Nmct2013"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>