<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DefaultConnection"
            connectionString="Data Source=NIELS-8;Initial Catalog=Festival;Persist Security Info=True;User ID=FestivalAdministrator;Password=NMCT"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>